<style>
    .cardOverflow {
        max-height: 258px;
        overflow-y: auto;
    }
</style>
<div class="row">
    <div class="col s12">
        <div class="page-title">{{$ctrl.bike.name}}</div>
    </div>
</div>
<div class="row">
    <div class="col s12 m8">
        <div class="card card-transparent">
            <div class="card-content">
                <div class="row">
                    <div class="col s12">
                        <img id="imgMoto" class="materialboxed responsive-img" ng-src="{{$ctrl.bike.img_url}}" style="min-height: 450px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <span class="card-title">Voir sur :</span><br>
                    <a target="_blank" ng-href="https://www.leboncoin.fr/motos/offres/aquitaine/occasions?q={{$ctrl.bike.name}}&rs={{$ctrl.bike.year - 1}}&re={{$ctrl.bike.year}}">
                        <img src="./assets/images/leboncoin.png" style="max-height: 50px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">
        <div class="page-title">Fiche technique</div>
    </div>
    <div class=" col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Infos générales</span><br>
                <table>
                    <tbody>
                        <tr>
                            <th>Années</th>
                            <th>Vitesse maximum</th>
                            <th>0 à 100</th>
                            <th>Prix</th>
                            <th>Catégorie</th>
                        </tr>
                        <tr>
                            <td>{{$ctrl.bike.year}}</td>
                            <td>{{$ctrl.bike.max_speed}} km/h</td>
                            <td>{{$ctrl.bike.zero_to_hundred}}</td>
                            <td>{{$ctrl.bike.price}} €</td>
                            <td>{{$ctrl.bike.category_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col s12 m12">
        <div class="card col s12 m6 cardOverflow">
            <div class="card-content">
                <span class="card-title">Train Arrière</span><br>
                <table class="responsive-table">
                    <tbody>
                        <tr ng-if="$ctrl.bike.rear.rear_shock != null">
                            <th>Amortisseur(s)</th>
                            <td>{{$ctrl.bike.rear.rear_shock}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.rear.rear_brake != null">
                            <th>Freinage</th>
                            <td>{{$ctrl.bike.rear.rear_brake}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.rear.rear_wheel != null">
                            <th>Roue</th>
                            <td>{{$ctrl.bike.rear.rear_wheel}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.rear.type != null">
                            <th>Type</th>
                            <td>{{$ctrl.bike.rear.type}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col s12 m6 cardOverflow">
            <div class="card-content">
                <span class="card-title">Train avant</span><br>
                <table class="responsive-table">
                    <tbody>
                        <tr ng-if="$ctrl.bike.front_axle.fork != null">
                            <th>Fourche</th>
                            <td>{{$ctrl.bike.front_axle.fork}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engifront_axlene.front_shock != null">
                            <th>Amortisseur</th>
                            <td>{{$ctrl.bike.front_axle.front_shock}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.front_axle.front_wheel != null">
                            <th>Roue</th>
                            <td>{{$ctrl.bike.front_axle.front_wheel}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.front_axle.front_brake != null">
                            <th>Freinage</th>
                            <td>{{$ctrl.bike.front_axle.front_brake}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col s12 m6 cardOverflow">
            <div class="card-content">
                <span class="card-title">Moteur</span><br>
                <table class="responsive-table">
                    <tbody>
                        <tr ng-if="$ctrl.bike.engine.gas_supply != null">
                            <th>Arrivée d'essence</th>
                            <td>{{$ctrl.bike.engine.gas_supply}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.torque != null">
                            <th>Couple</th>
                            <td>{{$ctrl.bike.engine.torque}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.act != null">
                            <th>ACT</th>
                            <td>{{$ctrl.bike.engine.act}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.power != null">
                            <th>Puissance</th>
                            <td>{{$ctrl.bike.engine.power}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.cooling != null">
                            <th>Refroidissement</th>
                            <td>{{$ctrl.bike.engine.cooling}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.displacement != null">
                            <th>Cylindrée</th>
                            <td>{{$ctrl.bike.engine.displacement}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.type != null">
                            <th>Type</th>
                            <td>{{$ctrl.bike.engine.type}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.power_to_weight_ratio != null">
                            <th>Rapport poids/puissance</th>
                            <td>{{$ctrl.bike.engine.power_to_weight_ratio}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.valve != null">
                            <th>Valve</th>
                            <td>{{$ctrl.bike.engine.valve}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.valve_command != null">
                            <th>Commande de valve</th>
                            <td>{{$ctrl.bike.engine.valvvalve_commandeCommand}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.engine_intake != null">
                            <th>Admission</th>
                            <td>{{$ctrl.bike.engine.engine_intake}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.engine.bridable != null">
                            <th>Bridable</th>
                            <td>{{$ctrl.bike.engine.bridable}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col s12 m6 cardOverflow">
            <div class="card-content">
                <span class="card-title">Transmission</span><br>
                <table class="responsive-table">
                    <tbody>
                        <tr ng-if="$ctrl.bike.transmission.gearbox_speeds != null">
                            <th>Nombre de vitesse</th>
                            <td>{{$ctrl.bike.transmission.gearbox_speeds}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.transmission.geerbox_type != null">
                            <th>Type de boite</th>
                            <td>{{$ctrl.bike.transmission.geerbox_type}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.transmission.secondary_transmission != null">
                            <th>Transmission secondaire</th>
                            <td>{{$ctrl.bike.transmission.secondary_transmission}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.transmission.type != null">
                            <th>Type</th>
                            <td>{{$ctrl.bike.transmission.type}}</td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="card col s12 m6 cardOverflow">
            <div class="card-content">
                <span class="card-title">Cadre</span><br>
                <table class="responsive-table">
                    <tbody>
                        <tr ng-if="$ctrl.bike.frame.dry_weight != null">
                            <th>Poids à sec</th>
                            <td>{{$ctrl.bike.frame.dry_weight}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.seat_height != null">
                            <th>Hauteur de selle</th>
                            <td>{{$ctrl.bike.frame.seat_height}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.type != null">
                            <th>Type</th>
                            <td>{{$ctrl.bike.frame.type}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.tank_capacity != null">
                            <th>Capacité du réservoir</th>
                            <td>{{$ctrl.bike.frame.tank_capacity}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.lenght != null">
                            <th>Longeur</th>
                            <td>{{$ctrl.bike.frame.lenght}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.wheel_base != null">
                            <th>Empattement</th>
                            <td>{{$ctrl.bike.frame.wheel_base}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.width != null">
                            <th>Largeur</th>
                            <td>{{$ctrl.bike.frame.width}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.height != null">
                            <th>Hauteur</th>
                            <td>{{$ctrl.bike.frame.height}}</td>
                        </tr>
                        <tr ng-if="$ctrl.bike.frame.moving_weight != null">
                            <th>Poids en ordre de marche</th>
                            <td>{{$ctrl.bike.frame.moving_weight}}</td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>